h1 {
  color: red;
  text-align: center;
  background-color: black;
}

h6 {
  opacity: 50%;
}

.square {
  background-color: black;
}

#pink {
color: white;
}

#blue {
color: gold;
}

#yellow {
color: gold;
}

#green {
color: gold;
}
