h1 {
  color: red;
  text-align: center;
  background-color: black;
}

p {
  color: white;
  background-color: black
}

h6 {
  opacity: 50%;
}

.square {
  background-color: black;
}

#pink {

}

#blue {

}

#yellow {

}

#green {

}
