body {
  background-color: yellow;
}

div.logo {
  background-color: navy;
  color: white;
  width: 255px;
  height: 652px;
  float: left;
  padding-left: 40px;
  padding-top: 300px;
  border: 5px;
  border-color: white;
}

div.bottom {
  background-color: pink;
  color: black;
  float: left;
  margin-left: 300px;
  margin-top: -383px;
  height: 182px;
  width: 1585px;
  font-family: 'Montserrat', sans-serif;
}

#info {
padding-top: 75px;
font-size: 75%;
text-align: center;
}

div.text {
  background-color: yellow;
  color: black;
  height: 885px;
  float: left;
  margin-top: 150px;
  font-family: 'Pacifico', cursive;
  margin-left: 340px;
  font-size: 100px;
}

div.text:hover {
  color: white;
}

div.top {
  background-color: white;
  color: black;
  float: right;
  width: 1587px;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 200px;
  padding-right: -20px;
  font-size: 85%;
}

font-family: 'Pacifico', cursive;
font-family: 'Montserrat', sans-serif;
